.menu-icon {
    -fx-icon-size: 20px;
    -fx-icon-code: fa-ellipsis-v;
}

.newgame-icon {
    -fx-icon-code: fa-play;
}

.exitgame-icon {
    -fx-icon-code: fa-sign-out;
}

.getcard-icon {
    -fx-icon-code: fa-plus;
}

.stopcard-icon {
    -fx-icon-code: fa-thumbs-o-up;
}

.about-icon {
    -fx-icon-code: fa-question;
}

