.menu-icon {
    -fx-icon-size: 20px;
    -fx-icon-code: fa-ellipsis-v;
}

.newgame-icon {
    -fx-icon-code: fa-play;
}

.nextround-icon {
    -fx-icon-code: fa-mail-forward;
}

.exitgame-icon {
    -fx-icon-code: fa-sign-out;
}

.getcard-icon {
    -fx-icon-code: fa-plus;
}

.bet-icon {
    -fx-icon-code: fa-check;
}

.stopcard-icon {
    -fx-icon-code: fa-thumbs-o-up;
}

.about-icon {
    -fx-icon-code: fa-question;
}

.info-area,
.commands-area,
.rule-area {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-border-color: rgba(0,255,0,0.6);
    -fx-alignment: top-center;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

.commands-area {
    -fx-padding: 0 0 10 0;
}

.cards-table {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-image: url("../images/table.png");
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.label-strong {
    -fx-text-fill: rgba(255,215,0,0.8);
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.rule-area {
    -fx-border-width: 1;
    -fx-border-color: rgba(0,255,0,0.3);
}
.rule-area .label-strong {
    -fx-text-fill: rgba(255,215,0,0.5);
    -fx-font-size: 17;
}
.label-rule {
    -fx-text-fill: rgba(255,255,255,0.5);
    -fx-font-size: 13;
}


.player-info {
    /*-fx-border-color: #cbcb2a;*/
    -fx-spacing: 10;
}

.cards-view
{
    /*-fx-border-color: #cbcb2a;*/
    -fx-background-color: transparent;
    /*-fx-border-color: black;*/
    /*-fx-border-width: 1;*/
    /*-fx-padding: 5;*/
    /*-fx-spacing: 5;*/
}

.coin {
    -fx-background-color: transparent;
}
.coin:hover {
    -fx-background-color: rgba(211,211,211,0.5);
}

.coins-view
{
    -fx-background-color: transparent;
    /*-fx-border-color: black;*/
    /*-fx-border-width: 1;*/
    /*-fx-padding: 5;*/
    -fx-spacing: 5;
    -fx-padding: 0;
    -fx-alignment: center;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-spacing: 5;
}
