.menu-icon {
    -fx-icon-size: 20px;
    -fx-icon-code: fa-ellipsis-v;
}

.newgame-icon {
    -fx-icon-code: fa-play;
}

.exitgame-icon {
    -fx-icon-code: fa-sign-out;
}

.getcard-icon {
    -fx-icon-code: fa-plus;
}

.bet-icon {
    -fx-icon-code: fa-check;
}

.stopcard-icon {
    -fx-icon-code: fa-thumbs-o-up;
}

.about-icon {
    -fx-icon-code: fa-question;
}

.cards-table {
    -fx-padding: 5;
    -fx-background-image: url("../images/table.png");
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.labels {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.cards-view
{
    -fx-background-color: transparent;
    /*-fx-border-color: black;*/
    /*-fx-border-width: 1;*/
    /*-fx-padding: 5;*/
    -fx-spacing: 5;
    -fx-padding: 0;
}

.coin {
    -fx-background-color: transparent;
}

.coins-view
{
    -fx-background-color: transparent;
    /*-fx-border-color: black;*/
    /*-fx-border-width: 1;*/
    /*-fx-padding: 5;*/
    -fx-spacing: 5;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.list-view {
    -fx-background-color: transparent;
}